:root{
    --primario: #4579BB;
    --secundario: #49637A;
    --gris: #;
}
*{
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #8d5a5a;
}
main{
    background: #F2E9E6;
}

.fab{
    display: flex;
    font-size: 60px;
    color: white;
    margin-right: 10px;
}

.fab:hover{
    display: inline-block;
    color: blue;
    transition: all 0.4s;
}

.nav-link{
    text-transform: uppercase;
    
}

.bg-primary{
    background-color: #4579BB!important;
}

.bg-secondary{
    background-color: #142741!important;
    
}


.banner-image{
    background-image: url(/images/hero6.jpeg);
    background-size: cover;
}

.navbar-brand{
    display: inline-block;
    font-size: 1.5em;
    padding-left: 100px;
}



.navbar-collapse{
    display: inline-block;
    transition: all 0.5s ease;
   

}

.navbar-collapse a:hover{
    display: inline-block;
    opacity: 0.5;
    border-radius: 15px;
    
}

.bg-img1{
    background-image: url(../images/01.jpg);
  }
  
  .bg-img02{
    background-image: url(../images/02.jpg);
  }
  
  .imagen{
    background-size: cover;
    background-position: top center;
  }

  .imagen-superior > div,
  .imagen-inferior > div {
      height: 30rem;
  }

 
.imagen-inferior .bg-img02{
    order: 1;
}



.imagen-superior .contenido{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.imagen-inferior .contenido{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


  
/* Portafolio */


.card{
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(3, 3, 3, 0.582);
    background: #1e3d66;
    margin-bottom: 27px;
}

.card ul li{
    color: black;
}

.card a{
    display: block;
    padding-left: auto;
    padding-right: auto;
}

.separador-p{
    color: black!important;
}


/* Habilidades */
.separador{
    color: #fff;
}
.skills{
  background: #142741;
}
.img-skills{
    display: block;
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 17px;
    border-radius: 19px;
}

.p-skills{
    color: white;

}





/* Media querys */

@media screen and (max-width:999px){
    .navbar-brand{
        display: inline-block;
        font-size: 1.4em;
        padding-left: 0; 
    }
}


@media screen and (min-width:1000px){
    .navbar-brand{
        display: inline-block;
        font-size: 1.6em;
        padding-left: 100px;
    }

}

@media (min-width:768px){
    .imagen-inferior .bg-img02{
        order: unset;
    }
}

@media (min-with:768px){
    .imagen-superior > div,
    .imagen-inferior > div {
        height: 45rem;
    }
}



/* Formulario Contacto */

.form-label{
    color: #142741;
    font-size: 18px;
}

footer{
    margin-top: 15px;
    background: #000;
}

.copy{
    font-size: 19px;
    padding-top: 10px;
    color: #fff;
}

.foot{
    font-size: 40px;
    padding-top: 10px;
    padding-right: 15px;
}
